<div class="confirmPopup">
    @TempData["usernameToDelete"]
    <a asp-action="DeleteUser" asp-controller="admin" asp-route-username="@TempData["usernameToDelete"]">Delete @TempData["usernameToDelete"]</a>
</div>