@{
    ViewData["Title"] = "Index";
    ViewData["error"] = "erreure lors de la connexion ou inscription";
}

<div class="text-center" id="formulaires">
    <form id="connForm" class="form2" asp-action="Connecte">
        <div class="conn">
            <label for="connPseudo">Pseudo</label>
            <input type="text" class="conn-control" id="connPseudo" name="connPseudo" placeholder="Pseudo">
        </div>
        <div class="conn">
            <label for="connMdp">Password</label>
            <input type="password" class="conn-control" name="connMdp" id="connMdp" placeholder="Mot de passe">
        </div>
        <button type="submit" class="btn btn-primary" id="btnConn">Connexion</button>
    </form>



    <form id="insForm" class="form2" asp-action="Inscrire">
        <div class="ins">
            <label for="insPrenom">Prénom</label>
            <input type="text" class="ins-control" id="insPrenom" name="insPrenom" placeholder="Prénom">
        </div>
        <div class="ins">
            <label for="insNomFamille">Nom de famille</label>
            <input type="text" class="ins-control" id="insNomFamille" name="insNomFamille" placeholder="Nom de famille">
        </div>
        <div class="ins">
            <label for="insPseudo">Pseudo</label>
            <input type="text" class="ins-control" id="insPseudo" name="insPseudo" placeholder="Pseudo">
        </div>
        <div class="ins">
            <label for="insMdp">Password</label>
            <input type="password" class="ins-control" id="insMdp" name="insMdp" placeholder="Mot de passe">
        </div>
        <button type="submit" class="btn btn-primary" id="btnIns">S'inscrire</button>
    </form>
    <div id="Erreurs">
        <p id="error">Erreur: @ViewData["error"]</p>
    </div>

</div>
