<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP2_final.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/medias.css" asp-append-version="true" />
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand fs-2 fw-bold" asp-area="" asp-controller="User" asp-action="Index">
                    <img src="~/images/logo.png" class="img-fluid" width="75" height="47.5" />
                    Tubercule Tune
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <button class="btn-patate">
                                <a class="btn text-white" asp-area="" asp-controller="User" asp-action="Index">Tous les
                                    médias</a>
                            </button>
                        </li>
                        <li>
                            <button class="btn-patate">
                                <a class="btn text-white" asp-area="" asp-controller="User" asp-action="Favoris">Mes
                                    Favoris</a>
                            </button>
                        </li>
                    </ul>
                    <div class="dc-parent">
                        <button class="btn-patate">
                            <a class="btn text-white" asp-area="" asp-controller="User" asp-action="Deco">Déconnexion: @TempData["username"]</a>
                        </button>

                        <img src="~/images/user.png" class="img-fluid float-end m-1" width="50" height="50" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 h-100">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Css", false);
</body>

</html>
