@{
    ViewData["Title"] = "Home Page";
}

@Model.catalogue

<div class="text-center">
    <!--Todo -> faut afficher les medias-->
    <h1 class="display-4">Catalogue</h1>

    <a asp-controller="User" asp-action="Fiche">Fiche</a>
</div>