@{
    ViewData["Title"] = "Mes Favoris";
}

<div class="text-center">
    <!--Todo -> -->
    <h1 class="display-4">Favoris</h1>
    <div>
        <!--Placeholder class pour l'instant-->
        <div class="media">Ici on met les media
            <div class="bg-danger border-1">1er media</div>
            <div class="bg-danger border-1">2e media</div>
            <div class="bg-danger border-1">3e media</div>
            <div class="bg-danger border-1">4e media</div>
        </div>
    </div>
</div>