@{
    ViewData["Title"] = "Mes Favoris";
}

<div class="text-center">

    <h1 class="display-4">Favoris</h1>

    <div id="Test" class="media">
        @foreach (Favoris fav in Model.Favoris)
        {
            if (fav.UserId == "CRAZY3")
            {
                foreach (Media item in Model.Medias)
                {
                    if (item.Nom == fav.MediaId)
                    {
                        <div class="media-element">
                            @*TODO -> ajouter l'image en genre thumbnail*@
                            <div class="p-2">Media: @item.Nom</div>
                            <div class="p-2">Auteur: @item.Auteur</div>
                            <div class="p-2">Durée: @item.Duree</div>
                        </div>

                    }
                }
            }
        }
    </div>
</div>

@section css {
    <link rel="stylesheet" href="~/css/favoris.css" asp-append-version="true" />
}