@{
    ViewData["Title"] = "Mes Favoris";
}
@model TP2_final.Models.CatalogueFavoris

<div class="text-center">

    <h1 class="display-4">Favoris</h1>
    <div>

        <!--Placeholder class pour l'instant-->
        <div class="media">
            Ici on met les media
            @*
            @foreach (Favoris fav in Model.GetCatalogue())
            {
            <div>fav.UserId</div>
            <div>fav.MediaId</div>
            }
            *@
            <div class="media-element">
                Ici on met le premier media genre
            </div>
            <div class="media-element">
                Ici on met le deuxieme media
            </div>
        </div>
    </div>
</div>