@{
    ViewData["Title"] = "Mes Favoris";
}

<div class="text-center">

    <h1 class="display-4">Favoris</h1>
    <div>

        <!--Placeholder class pour l'instant-->
        @foreach (Favoris fav in Model.GetCatalogue())
        {
            @if (fav.UserId == "CRAZY3")
            {
                <div class="media">
                    <div class="media-element">@fav.MediaId</div>
                </div>
            }
        }
    </div>
</div>