@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--Todo -> change utilisateur for username-->
    <h1 class="display-4">Bienvenu Utilisateur</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
