.deconnexion_parent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    background-color: #2196f3;
    border: 2px solid #1b6ec2;
    margin: 5px 10px;
    border-radius: 4px;
}

body {
    background-color: beige;
}

.logo_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.i_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#supprimer{
    border: 2px solid black;
    display: none;
}

.utilisateur {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffedd4;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirmPopup {
    padding: 1%;
    background-color: #eee3d0;
    border: 2px solid black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.utilisateur > p {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 1.5% 0%;
}