html, body {
    width: 100%;
    height: 100%;
    background-image: url("../images/bg_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.errorDiv {
    height: 25%;
    display: flex;
    white-space: pre-line;
    color: red;
    font-weight: bold;
    font-size: 1.7em;
    overflow: scroll;
}

h1, p, label {
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}

h1 {
    font-size: 400%;
}

p {
    font-size: 20px;
}

.form2 {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

label, input {
    font-size: 165%
}

.btn {
    padding: 4.5% !important;
    font-size: 1.3em !important;
    margin-top: 15%;
}

.formsTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 70%;
}

.formTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85%;
}
