.dc-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-patate {
    background-color: #7A5743;
    border-color: black;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-evenly;
}

.media {
    background-color: #ebdfce;
    border: 2px solid #9b8355;
    padding: 1% 1.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: unset;
    color: black;
    font-size: 1.1em;
}